.fullscreen{height:100%;overflow:hidden;background-color: #00101F;color:#ffffff;}
.full-outer {display: table;height: 80% !important;left: 0;min-height: 80%;position: absolute;right: 0;table-layout: fixed;top: 10%;width: 100%; z-index: 2;}
.full-inner{display: table-cell; text-align: center;vertical-align: middle;width: 100%;}

/***************menu1, menu2***************/
#menu1{height: 85px;color:#e40000;}
#menu2 {height: 85px;background-color: #ffffff;color:#e40000;;z-index: 98;border-bottom: #f2f2f2 1px solid;}
#menu2.fixed {position: fixed;top:0;left:0;width:100%;}
#menu2 #menu-container, #menu1 #menu-container{margin: 0 45px; padding: 23px 0;font-size: 27px;}
#menu2 img, #menu1 img{width:20px;margin-top: 5px;}
.open-btn{overflow: hidden;display: inline-block;float: right;cursor: pointer;}
.page_cover {position: fixed;width: 100%;height: 100%; top: 0px;left: 0px;background-color: rgba(0, 0, 0, 0.4);z-index: 100;display: none;}
.page_cover.open {display: block;}
#slid-menu {position: fixed;width: 300px;height: 100%;top: 0px;/*right:0px;*/right: -302px;z-index: 111;border: 1px solid #c9c9c9;background-color: white;text-align: center;transition: All 0.2s ease;-webkit-transition: All 0.2s ease;-moz-transition: All 0.2s ease;-o-transition: All 0.2s ease;}
#slid-menu.open {right: 0px;}
.close-btn {position: absolute;width: 15px;height: 15px;margin: 35px 45px;right: 0px;top: 0px;background-image: url("../img/cancel-black.png");background-size: 100%;background-repeat: no-repeat;background-position: center;cursor: pointer;}
.close-btn:hover{background-image: url("../img/cancel-red.png");}
.menu-list{width:100%;margin-top:150px;font-size:17px;font-weight: 600;}
.menu-list li{height:50px;}
.menu-list li:hover{color:#ef0000;}
.social-contact{position: fixed;width: 300px;bottom:80px;}
.social-contact img{width:18px;margin: 0 10px;}
.contact-btn{display:inline-block;margin-top: 30px;padding:13px 20px;background-color: #000000;color:#ffffff;font-size:13px;font-weight: 600;border-radius: 3px;}
.contact-btn:hover{background-color: #ef0000}
html.open{overflow: hidden;}

/***************header***************/
#title{text-align: center;}
#title-txt{line-height: 2.8em;}
#title-txt p:nth-child(1){font-size: 13vmin;}
#title-txt p:nth-child(2){font-size: 5.5vmin;}
#profile{overflow:hidden;padding-top:30px;text-align: center;}
#nayeong{width:75%;border-radius:50%;-webkit-filter: grayscale(100%);filter: gray;}

@media screen and (min-width:720px){ /*web, iPad*/
    #nayeong{width:300px;}
    #title-txt{line-height: 5.5em;}
}
@media screen and (min-width:968px)and (max-width:1280px){ /*iPad Pro*/
    #title-txt{line-height: 7em;}
}

/***************about***************/
#section1{background-color: #F6F0F0;}
#section1-inner{overflow:hidden;width:100%;}
#aboutme{overflow:hidden;padding:100px 5% 100px;}
/*border, padding의 너비가 전체 크기를 차지하지 못하게 함*/
#aboutme * { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
#about1{overflow:hidden;}
#about2{overflow:hidden;}
#about1 * {display:inline-block;overflow:hidden;float:left;}
.about1-title {margin-bottom:30px;text-align:left;font-size: 50px;line-height: 45px;color:#e40000;}
#about2{display:inline-block;overflow:hidden;float:left;}
.about2-txt{margin-top: 10px;font-size: 13px;line-height: 1.5em;font-weight: 600;}
#subabout{overflow:hidden;margin:20px 0 0;}
.subtitle{margin:15px 0 5px;font-size:20px;font-weight: 700;color:#e40000;font-family: 'Roboto', sans-serif;}
.ex-txt{padding-left: 5px;font-size: 13px;font-weight: 600;line-height: 1.6em;}
#skills{overflow:hidden;padding-left: 5px;}
.skill {display: inline-block;width: 40px; margin:6px 3px 0 0;padding: 13px 0;text-align: center;background-color: #28282e;color: #F6F0F0;font-weight: 600;font-size: 11px;}

@media screen and (min-width:790px){ /*web iPad Pro*/
  #aboutme{padding:100px 10% 90px;}
  #about1{display:inline-block;float:left;width:40%;}
  #about2{display:inline-block;float:left;width:60%;}
  .about1-title {text-align:right;font-size: 70px;line-height: 65px;}
  #about1 div {padding:9px 14px 14px;}
  .about1-border {border-right:10px solid #e40000;height: 120px;}
  .about2-txt{font-size: 15px;line-height: 1.75em;}
  .subtitle{margin-top:25px;}
  .ex-txt{font-size: 14px;line-height: 2em;}
  .skill {width: 55px; margin:10px 5px 0 0;font-size: 13px;padding: 17px 0;}

}

/***************project***************/
#section2-inner{overflow:hidden;width:100%;background-color: #ffffff;/*#f2f2f2;*/}
#title2{height:300px;text-align:center;}
#title2 p:nth-child(1){margin-top: 100px;font-size: 70px;line-height: 65px;}
#title2 span{border-bottom: #000000 solid 5px;}
#project{overflow: hidden;text-align:center;margin:0 0 150px;}
/*해당 엘리먼트의 패딩과 테두리가 더이상 넓이를 늘리지 않음*/
.project-list * { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.project-list{position: relative;font-family: 'Roboto', sans-serif;text-align:left;;}
.wrap-project.hover{position: absolute;height: 260px;/*310px;*/width: 100%;top: -30px;background-color: #f2f2f2;/*#ffffff;*/}
.inner-project{position: relative;overflow: hidden;height:200px;/*250px;*/margin: 30px 15%;font-family: 'Roboto', sans-serif;text-align:left;}
.wrap-img{display:inline-block;overflow:hidden;width: 35%;}
.project-list img {width: 100%;height:200px;/*250px;*/border: 1px solid #f2f2f2}
.scale {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.scale.hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.project-list figcaption {overflow:hidden;display:inline-block;width: 64%;height:200px;/*250px;*/padding:0 0 0 45px;}
.project-list .proj-title{margin-top:0px;font-size: 35px;font-weight: 600;}
.proj-title.hover{font-size: 42px;/*color: #e40000;*/}
.project-list p:nth-child(2){font-size: 16px;font-weight: 500;line-height: 1.3em;padding-bottom:30px;color: #6c6a6a;}
.project-list p:nth-child(3){margin-bottom: 10px ;font-family: 'Nanum Gothic', sans-serif;font-size: 13px;font-weight: 600; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.used-skill{overflow:hidden;display: inline-block;float:left;background-color:#ddd;margin: 4px 4px 0 0;padding:6px 13px;border-radius: 5px;font-size: 12.5px;font-weight: 500;}
.more-btn{display: inline-block;width:150px;margin-top:50px;padding:20px 25px;background-color: #e40000;color:#ffffff;font-family: 'Roboto', sans-serif;font-size: 15px;font-weight: 600;}

/***************footer***************/
footer{padding:0 5%;}
.foot1{height:85%;}
#contact-title{font-family: 'Roboto', sans-serif;text-align:center;}
#contact-title p:nth-child(1){margin-top: 30px;font-size:42px;color:#ef0000;}
#contact-title p:nth-child(2){padding-left: 3px;font-size: 12px;}
#contact1{margin-top:15%;}
#contact1 li{height:55px;font-size: 13px;}
#contact1 img{width:25px;vertical-align: middle;margin-right: 30px;}
#contact2 {text-align:right;}

#message input{width: 100%;height: 25px;margin-bottom: 7px;padding-left: 15px;font-size:12px;}
#message textarea{width: 100%;height:80px;}
#submit-btn{display:inline-block;padding:10px 25px;background-color: #ef0000;font-family: 'Roboto', sans-serif;font-size: 13px;margin-top: 10px;}

.message-form{display:inline-block;text-align: center;}
.foot2{height:15%;font-size: 12px;font-family: 'Roboto', sans-serif;text-align: center;}
.foot2 img{width:15px;margin: 3% 15px;}


.message-form * { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

@media screen and (min-width:400px){/*Nexus 6P, Nexus 5X*/

}
@media screen and (min-width:720px){ /*iPad*/

  #contact-title{text-align: left;}
  #contact-title p:nth-child(1){margin-top: 50px;font-size:65px;}
  #contact-title p:nth-child(2){padding-left: 9px;font-size:19px;}
  #contact1, #contact2 {display:inline-block;overflow:hidden;float:left;width:50%;margin-top:100px;}
  #contact1 li{height:75px;font-size: 16px;}
  #message{width: 350px;}
  #message input{height: 35px;margin-bottom: 10px;}
  #message textarea{height:115px;}
  #submit-btn{padding:15px 30px;margin-top: 20px;}
  .message-form{text-align: left;}
  #message input, #submit-btn, .foot2{font-size: 16px;}
  .foot2 img{width:17px;margin: 17px 15px;}

}
@media screen and (min-width:790px){ /*web iPad Pro*/
  footer{padding:0 15%;}

}































/*
#projects{overflow:hidden;padding:0 10%;text-align:center;font-family: 'Kanit', sans-serif;color: #28282e;}
.project{overflow:hidden;height:320px;display:inline-block;width:30%;text-align: left;margin-top:20px;}
.project article{overflow:hidden;margin:0 3%;padding: 2% 0;}
.project img{width:100%;height:150px;padding:0;}
.scale {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
  }
  .scale:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
.project p:nth-child(1){font-size: 20px;font-weight: 600;}
.project p:nth-child(2){font-size: 15px;line-height: 0.3em;padding-bottom:10px;color: #6c6a6a;}
.project p:nth-child(3){margin-bottom: 10px ;font-family: 'Nanum Gothic', sans-serif;font-size: 13px;font-weight: 600; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
*/
/*
#project{overflow: hidden;text-align:center;margin:0 10% 150px;}
.project-list{position: relative;overflow: hidden;display:inline-block;width: 30%;height:270px;margin: 10px 1% 45px;font-family: 'Kanit', sans-serif;color: #28282e;text-align: left;}
*/
/*해당 엘리먼트의 패딩과 테두리가 더이상 넓이를 늘리지 않음*/
/*
.project-list * { 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
.project-list img {width: 100%;height:205px;}
.project-list .proj-title{font-size: 20px;font-weight: 600;}
.project-list p:nth-child(2){font-size: 15px;line-height: 0.3em;padding-bottom:10px;color: #6c6a6a;}
.project-list p:nth-child(3){margin-bottom: 10px ;font-family: 'Nanum Gothic', sans-serif;font-size: 13px;font-weight: 600; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.project-list figcaption {position: absolute;top: calc(77%);width: 100%;background-color: #ffffff;padding: 15px 25px 65px;}
.project-list:hover figcaption{top: 80px;border:1px solid #ddd;}
.used-skill{overflow:hidden;display: inline-block;float:left;background-color:#ddd;margin: 4px 4px 0 0;padding:3px 13px;border-radius: 5px;font-size: 12.5px;}
*/

/*새로 작성*/
/*.wrap-project{position: absolute;background-color: #ffffff;}
.project-list{position: relative;overflow: hidden;height:250px;padding:0 30px 30px;font-family: 'Kanit', sans-serif;text-align:left;}
*/


